body{
    background-image: linear-gradient(#009688 20%, #D9DBD4 0%);
    min-height: 100vh;
    padding: 50px; 
    
}

header{
    min-height: 50px;
    /* border: 2px dashed green; */
}
footer{
    position: relative;;
   
}
.nav{
    position: fixed;
    bottom: 0;
    z-index: 0;
}

.col-8{
    border: 2px dashed red;
    height: 505px;
    
}


.col-4{
    border: 2px dashed blue;
    height: 505px;
}

.bg-header{
    background-color: #EAEAEA;
}
.bg-blue{
    background-color: #8EDAFC;
}
.p-relative{
    position: relative;
}
.w-15{
    width: 15%;
}
.bell{
    height: 50px;
    width: 50px;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.search{
    position: absolute;
    top: 12px;
    left: 10px;
}

