/* GENERICS */

body{
    background-image: linear-gradient(#009688 20%, #D9DBD4 0%);
    height: 100vh;
    padding-top: 50px;   
}

header{
    height: 50px;
    /* border: 2px dashed green;  */
}
main{
    flex-grow: 1;
    width: 100%;
}
footer{
    height: 70px;
    
   
}

/* UTILS */

.nav{
    position: fixed;
    bottom: 0;
    z-index: 0;
}

.bg-header{
    background-color: #EAEAEA;
}

.bg-blue{
    background-color: #8EDAFC;
}



.p-relative{
    position: relative;
}

.w-15{
    width: 15%;
}

.w-10{
    width: 10%;
}
.vh-90{
    height: 90vh;
}

.bell{
    height: 50px;
    width: 50px;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.search{
    position: absolute;
    top: 20px;
    left: 20px;
}

/* CHAT */
#chat-list{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    background-color: white;
    list-style-type: none;
}

.chat{
    background-image: url(../img/mine.jpg);   
}

/* MESSAGES */

.message-container{
    display: flex;
    list-style-type: none;
    
}

.message-container.sent{
    justify-content: flex-end;
}

.message-content.received{
    justify-content: flex-start;
}

.message-container.sent .message{
    background-color: #D5F9BA;
}

.message-container.received .message{
    background-color: white;
}



